order-list {
    .scroll-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .month {
        text-align: center;
        font-size: 16px;
        color: gray;
    }
}