page-order-chat {
    * { box-sizing: border-box; margin: 0; padding: 0; }
    html, body { height: 100%; overflow: hidden; }
    
    .form {
        flex: 0 0 40px;
        display: flex;
        border: 1px solid #ddd;
        
    }

    .chatbox { 
        flex: 1 1 auto;
        border: 1px solid #eee; 
        font-size: 16px;
        margin: 0;
        line-height:18px;
        padding-left: 5px;
    }

    .send-chat
    { 
        flex: 0 0 20%;
        height: 40px;
        border: 1px solid #eee; 
    }

    .bubble { 
        flex: 1 1; 
        clear: both; 
        height: auto;
        border-radius: 5px;
        padding: 8px; margin: 4px 12px;
        max-width: 70%; 
        font-size: 16px;
        position: relative; transition: background-color 0.5s; 
        background-color: #ccc;
        width: fit-content !important;
    }

    .text {
        margin-right: 55px;

    }

    .date {
        position: absolute;
        bottom: 7px;
        right: 7px;
        z-index: 2;
        font-size: 11px;
        margin-top: 5px;
        float: right;
    }

    .left {
        background-color: #ccc;
        float: left; 
    }

    .right {
        background-color: #33c;
        color: #fff;
        float: right;
        align-content: right;
    }

    .left::before {
        content: ''; position: absolute;
        width: 0; height: 0; left: -8px; top: 4px;
        border-top: 4px solid transparent;
        border-right: 8px solid #ccc;
        border-bottom: 4px solid transparent;
    }

    .right::after {
        content: ''; position: absolute;
        width: 0; height: 0; right: -8px; bottom: 4px;
        border-top: 4px solid transparent;
        border-left: 8px solid #33c;
        border-bottom: 4px solid transparent;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .flex-container {
        height: 100%;
        display: flex;
        background-color: #eee;
        border: 1px solid #ccc;
        display: flex;
    }

    .wrap { 
        height: 100%; width: 100%; 
        display: flex; flex-direction: column;
    }

    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        overflow: scroll;
        justify-self: flex-start;
        margin-top: auto;
        max-height: 100%;
    }
}