page-orders {
    .card {
        padding: 10px;
    }

    .order {
        margin: 0;
        font-size: 16px;
    }

    .price {
        font-size: 13px;
        color: gray;
    }

    .address {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .icon {
        font-size: 35px;
    }

    .no-orders {
        font-size: 20px;
        color: rgb(71, 71, 71);
        margin-bottom: 20%;
        text-align: center;
        height: 100%;
    }
}